.desc{
  position: relative;
  top: 6.3em;
  font-size: 1.5rem;
  color:white;
  z-index: 1;
  transition: all 2s;


  @mixin atSmall{
    position: relative;
    top: 4em;
    font-size: 3.5rem;
    color:yellow;

  }
  @mixin atMedium{
    position: relative;
    top: 2em;
    font-size: 4.5rem;
    color: red;
  }
}
