.temperature-bg{
}

.temperature{
  border: 1px solid yellow;
  position: relative;
  margin: auto;
  bottom: 1em;
  font-size: 3.875rem;
  color: white;
  @mixin atSmall{

    }
  @mixin atMedium{

  }
}
