.text-entry{
  display: block;
  margin: 0;
  /*height: 40px;*/
  width: 100%;
  line-height: 40px;
  font-size: 15px;
  border: 10px  solid blue;
  position: relative;
  &--in-view{
    bottom: 30em;
  }
}


.suggestions{
  border: 10px solid yellow;
  position: relative;
/*bottom: 45rem;*/
}
